@import '../../_variables.scss';

.auth-container{
    width: 100%;
    height: 100%;
    padding-left: $navbar-width;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajouter-compte{
    cursor: pointer;
    padding: 5px 20px;
    border: 2px solid #3ea6ff;
    border-radius: 2px;
    background-color: white;
    transition: 0.2s;
}

.ajouter-compte:hover{
    background-color: #3ea6ff;
    color: white;
    transition: 0.2s;
}

.input-auth{
    min-width: 250px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #3ea6ff;
    border-radius: 2px;
}
.btn-add-account{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-auth{
    text-align: center;
    margin-bottom: 10px;
}
.no-account{
    margin-top: 20px;
    text-align: center;
}
.form-container{
    border: 1px solid #3ea6ff;
    padding: 50px;
    border-radius: 3px;
}

.register-link{
    color: black;
    font-size: 1.1rem;
}

.label-input-container > label{
    padding: 10px;
    font-size: 1.4rem;
}