@import '../../_variables.scss';
.home-page{
    width: 100%;
    padding-left: $navbar-width;

    .video-container{
        // height: 35vh;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
    }
    
}


