@import '../../_variables.scss';
.home-page{
    margin-top: 50px;
    width: 100%;

    .video-container{
        // height: 35vh;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
    }
    
}


