.home-page{
    width: 100%;
    padding-left: 14rem;

    .video-container{
        height: 35vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    
}


