.comment-container{
    display: flex;
    margin-top: 2rem;

    .comment-photo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 2rem;
    }

    .user-comment-info-container{
        position: relative;

        .user-info-container{
            display: flex;
            align-items: center;
            p{
                font-size: 1rem;

                &:first-child{
                    margin-right: 1rem;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
        }
        .comment{
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}
