.logo{
    width: 110px;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 18.82%);
    color: white;
    padding: 10px 20px;
}
.upload{
    width: 18px;
    margin-right: 15px;
}
.user{
    width: 18px;
}
.d-flex{
    display: flex;
}
.search{
    width: 20px;
    height: fit-content;
    padding: 0px 15px;
    background-color: rgb(68, 68, 68);
}
.search-bar{
    align-items: center;
    background-color: rgb(68, 68, 68);
    
}
.input-search-bar{
    border: 0px;
    width: 350px;
    height: 30px;
}

input[type="text"] {
    background-color: black;
    color: white;
}