.video-miniature-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 21%;

    .video-miniature{
        height: 100%;
        text-decoration: none;
        color: black;

        h2{
            font-size: 1.4rem;
        }

        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
